@use "sass:map" as map;

@use "vars" as v;
@use "mixins" as m;

.heading {
    position: relative;

    .base-image {
        display: block;

        width: 100%;
        height: auto;
    }

    .overlay {
        position: absolute;

        // overlay 5em = img + p 3em, padding 1em
        height: 5em;
        width: 100%;

        left: 0;
        bottom: 0;

        overflow: hidden;

        a {
            display: flex;

            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            width: 100vw;
            height: 100vw;

            padding: 1em;

            border-radius: 50%;

            background-color: map.get(v.$colors, "white");
            color: map.get(v.$colors, "blue");

            text-decoration: none;

            &:active,
            &:visited {
                color: map.get(v.$colors, "blue");
            }

            img {
                width: 2em;
                height: 2em;
            }

            p {
                margin: 0.25em;
            }
        }
    }
}

main {
    h1,
    h2 {
        color: map.get(v.$colors, "red");
    }

    .main__body {
        padding: 2em;
    }
}
