@use "sass:map" as map;

@use "vars" as v;
@use "mixins" as m;

main {
    padding: 2em;
    text-align: justify;
}

h1 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: map.get(v.$colors, "red");
}

input,
button {
    display: block;
}

input {
    background: map.get(v.$colors, "white");
    border: 0;
    border-bottom: 2px solid map.get(v.$colors, "blue");
    padding: 1em;
    width: 100%;
    margin: 1em 0;
}

button {
    background: map.get(v.$colors, "blue");
    color: map.get(v.$colors, "white");
    border: 0;
    padding: 1em;
    margin: 0 auto;
    font-family: "Dancing Script";
}
