@use "sass:map" as map;

@use "vars" as v;
@use "mixins" as m;

.arrow {
    position: absolute;

    top: 50%;

    //transform: translate(-50%, -50%);

    background: none; 
    color: map.get(v.$colors, "white");

    border: none;

    img {
        width: 2em;
        height: 2em;
        overflow: hidden;
    }
}

.arrow--left {
    left: .5em;

    img {
        transform: rotate(180deg);
    }
}

.arrow--right {
    right: 0.5em;
}
