@use "sass:map" as map;

@use "vars" as v;
@use "mixins" as m;

.arrow {
    position: absolute;

    top: 50%;

    padding: 1em;

    //transform: translate(-50%, -50%);

    background-color: map.get(v.$colors, "blue");
    color: map.get(v.$colors, "white");

    border: none;
    border-radius: 50%;

    img {
        width: 1em;
        height: 1em;
    }
}

.arrow--left {
    left: .5em;

    img {
        transform: rotate(180deg);
    }
}

.arrow--right {
    right: 0.5em;
}
