@use "sass:map" as map;

@use "vars" as v;
@use "mixins" as m;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@400;900&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: map.get(v.$colors, "white");
}

header {
    background: map.get(v.$colors, "blue");
    padding: 1em 2em;

    a.menu__back {
        display: flex;

        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        color: map.get(v.$colors, "white");
        text-decoration: none;

        img {
            display: block;

            width: 1em;
            height: 1em;
        }

        #menu__number {
            display: block;

            margin-left: .25em;
            font-weight: 700;
        }
    }
}

h1 {
    font-family: "Dancing Script", cursive;
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Roboto", sans-serif;
}
