@use "sass:map" as map;

@use "vars" as v;
@use "mixins" as m;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Imperial+Script&family=Nunito:wght@300&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: map.get(v.$colors, "white");
}

header {
    background: map.get(v.$colors, "blue");
}

h1 {
    font-family: "Imperial Script", cursive;
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Nunito", sans-serif;
}
