/* Error: There is no module with the namespace "map".
 *   ,
 * 3 |     color: map.get(v.$colors, "red");
 *   |            ^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   scss\login.scss 3:12  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "map".\a   \2577 \a 3 \2502      color: map.get(v.$colors, "red");\d\a   \2502             ^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   scss\\login.scss 3:12  root stylesheet';
}
